<!DOCTYPE html>
<html
  lang="en-dk"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/globalstyles.css}" />
    <title>Roskilde Daycare</title>
  </head>
  <body>
    <div class="content-div">
      <h1>Children list</h1>
      <table>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Last name</th>
          <th>Date of birth</th>
          <th>Team ID</th>
          <th>Contact ID</th>
          <th>Status</th>
          <th></th>
        </tr>
        <tr th:each="child:${listChildren}">
          <td th:text="${child.childId}"></td>
          <td th:text="${child.childFirstName}"></td>
          <td th:text="${child.childLastName}"></td>
          <td th:text="${child.childDoB}"></td>
          <td th:text="${child.teamId}"></td>
          <td th:text="${child.contactId}"></td>
          <td th:text="${child.childStatus}"></td>
          <td>
            <button type="button">
              <a th:href="@{'/edit_child_info/' + ${child.childId}}">Edit</a>
            </button>
            <button type="button">
              <a th:href="@{'/remove/child/' + ${child.childId}}">Remove</a>
            </button>
          </td>
        </tr>
      </table>
      <div class="under-table-buttons">
        <a href="child/new_child"
          ><button type="button">Add new child</button></a
        >
        <a href="/"><button type="button">Back to Home</button></a>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
