body {
    background-color: rgb(56, 98, 160);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.content-div {
    max-width: 1000px;
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(225, 225, 147);
    border-radius: 5px;
}

form{
    max-width: 600px;
    margin: auto;
}

.id-input{
    background-color: rgb(225, 225, 147);
    color: gray;
    border: none;
}
form .error {
    color: #ff0000;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    max-width: 900px;
    margin: auto;
}


th, td {
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    padding: 5px;
    border: solid rgb(155, 155, 105) 1px;
    font-size: 0.8rem;
}
th {
    background-color: rgb(155, 155, 105);
    color: rgb(63, 63, 48);
    text-align: center;
    white-space: break-spaces;
}

.under-table-buttons, #home-buttons {
    max-width: 300px;
    margin: 30px auto;
}

#home-buttons button{
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    background-color: cornflowerblue;
    border: none;

}

.under-table-buttons button {
    padding: 15px;
    margin: auto 10px auto 10px;
    background-color: rgb(111, 144, 193);
    border: none;
}


td button {
    width: 70px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(186, 186, 105);
    border: none;
}

a {
    text-decoration: none;
    color: rgb(50, 42, 42);
}

a:hover{
    color: white;
}